<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
    Hello, {{name}}!
</div>

<form method="get" action="/h2">
    <button type="submit">Manage DB</button>
</form>

</body>
</html>